@charset "UTF-8";
/*@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900");
/** YoGo fonts **/
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Noto Serif JP", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Yu Gothic", YuGothic, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  background: #fff;
  color: #000;
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

a:hover {
  text-decoration: none;
  color: currentColor;
  filter: alpha(opacity=75);
  -ms-filter: "alpha(opacity=75)";
  opacity: .75;
  cursor: pointer;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

p:not([class]) {
  margin: 0px 0px 30px 0px;
  padding: 0;
}

p:not([class]):last-child {
  margin-bottom: 0px;
}

figure {
  margin: 0;
  padding: 0;
  line-height: 0;
}

input[type="submit"] {
  border: none;
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

table {
  border-spacing: inherit;
  border-collapse: collapse;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

/* clearfix */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

* {
       box-sizing: border-box;
}

picture {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
  display: block;
}

/*.container {
    width: 980px;
    margin: 0 auto;
}*/
.wrapper {
  position: relative;
  width: 1010px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media screen and (max-width: 980px) {
  .wrapper {
    overflow: hidden;
  }
}
/*****
 2020/04新規追加ページのみレスポンシブ対応のため
 .responsiveで幅を制御
******/
.responsive .wrapper {
  max-width: 100%;
}


.hp-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .hp-sp {
    display: block;
  }
}

.hp-xsp {
  display: inline;
}
@media screen and (max-width: 330px) {
  .hp-xsp {
    display: none;
  }
}

.hp-lh {
  line-height: 1.4;
  margin-bottom: 2rem;
}
.hp-mtL {
  margin-top: 9rem;
}


/*.page-main {
    display: block;
    width: 1010px;
    padding: 0px 15px;
    margin: 0 auto;
}*/
.banner {
  position: absolute;
  top: 0;
}

.banner-left {
  left: -12.5vw;
  /*max-width: 212px;*/
  width: 11vw;
  /*@media screen and (min-width: 1560px) {
            width: 12%;
            left: 2%;
        }*/
}

.banner-left img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
}

.banner-right {
  right: -13.5vw;
  width: 13vw;
  /*@media screen and (min-width: 1560px) {
            width: 13%;
            right: 1.5%;
        }*/
}

.banner-right img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
}

.banner-right .right01 {
  width: 32%;
  /*max-width: 65px;*/
  float: left;
  margin-top: 100px;
}

.banner-right .right02 {
  width: 68%;
  /*max-width: 144px;*/
}

.section {
  margin-bottom: 100px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 35px;
}

.brand-banner {
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .brand-banner {
    margin-bottom: 3rem;
  }
}

/** section inquiry **/
@media screen and (max-width: 767px) {
  .section-inquiry.section {
    margin-bottom: 30px;
  }
  .section-inquiry .section-title {
    margin-bottom: 1rem;
    font-size: 20px;
  }
}

.inquiry-btn {
  display: block;
  width: 518px;
  max-width: 100%;
  margin: 0 auto;
}

.page-sub {
  padding-top: 50px;
}

.page-title {
  position: relative;
  margin-bottom: 50px;
}

.page-title_ttl {
  width: 327px;
}

.page-title_ttl.works img {
  width: 257px;
}

.page-title_ttl.works-2 img {
  width: 280px;
}

.page-title_sub {
  font-size: 18px;
  position: absolute;
  bottom: 5px;
  left: 290px;
  margin: 0;
}

/** header **/
.page-header {
  padding: 4rem 0 3rem 0;
}

.menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.menu li {
  text-align: center;
  display: inline-block;
  position: relative;
}

.menu > li {
  border-left: 1px solid #000;
  margin-bottom: 0.8rem;
}

.menu > li:last-child {
  border-right: 1px solid #000;
}

.menu > li a, .menu > li span {
  display: block;
  padding: 0px 6px;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: normal;
}

/**  header-works用追加css   ここから */
.works-header {
  padding: 2.5rem 0 3.5rem 0;
  border-bottom: 2px solid #333;
}
.works-header .menu > li:not(:first-child) {
  border-left: 2px solid #000;
  margin-bottom: 0.8rem;
}
.works-header .menu > li:first-child {
  border-left: none;
}

.works-header .menu > li:last-child {
  border-right: 2px solid #000;
}
.works-header .menu > li a,
.works-header .menu > li span
 {
  padding: 0px 1.5rem;
  font-size: 2rem;
}
.works-header .menu > li:first-child a {
  padding-left: 0;
}

/**  header-works用追加css ここまで   */

.menu li a:hover,
.menu li span:hover,
.menu li a:focus {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu li span {
  cursor: pointer;
}

.menu li span:hover,
.menu li span:focus {
  opacity: .75;
}

.menu li:hover > .menu-sub,
.menu li:focus > .menu-sub {
  display: block;
}

.menu-sub {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: center;
  z-index: 9;
  padding-top: 1rem;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.menu-sub li {
  display: block;
  width: 100%;
}

.menu-sub li {
  border-left: none;
  border-right: none;
  border-top: 1px solid #000;
}

.menu-sub li:first-child {
  border-top: none;
}

.menu-sub li a {
  padding: 10px 0px;
}

.menu-sub li a:hover {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

/*** スマホドロワー *****/
  
  #drawer-btn {
    display: none;
  }
  input[type="checkbox"] {
    display: none;
  }


@media screen and (max-width: 768px) {
  .page-header {
    height: 60px;
  }
  .page-header {
    padding: 0rem 0 0rem 0;
  }  
  .gnav {
    overflow: scroll;
  }

  #drawer-btn {
    display: inline-block;
    position: fixed;
    z-index: 99;
    top:10px;
    right:10px;
    height: 40px;
    width: 48px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
  }
  #drawer-btn:hover {
    opacity: .7;
  }
  
  #drawer-btn span {
    position: absolute;
    transition: all 0.3s ease-in-out;
    background:  rgb(83, 83, 83);
    border-radius: 1px;
    display: block;
    height: 1px;
    width: 100%;
    box-sizing: border-box;
  }
  #drawer-btn span:nth-of-type(1) {
      top: 47%;
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #drawer-btn span:nth-of-type(2) {
      top: 72%;
    }
    #drawer-btn span:nth-of-type(3) {
      bottom: 0;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #drawer-checkbox:checked ~ #drawer-btn span:nth-of-type(1) {
      top: 70%;
    transform: rotate(20deg) translateY( -2px) ;
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
    #drawer-checkbox:checked ~ #drawer-btn span:nth-of-type(2) {
      opacity: 0;
    }
    #drawer-checkbox:checked ~ #drawer-btn span:nth-of-type(3) {
      bottom: 30%;
    transform: rotate(-20deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
  
    #drawer-content {
      overflow: scroll;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      height: 0;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: .5s;
      transition: .5s;
      transform: translateY(-30px);
      width: 100%;
      background: #fff;
      text-align: center;
    }
    #drawer-checkbox:checked ~ #drawer-content {
      transform: translateY(0);
      height: 100%;
      opacity: 1;
      visibility: visible;
      }

    .menu {
      position: relative;
      display: block;
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .menu::after {
      position: absolute;
      z-index: -1;
      display: block;
      content: '';
      top: 45px;
      right: 4%;
      width: 200px;
      height: 100%;
      background-image: url(../img/04.gif);
      background-repeat: no-repeat;
      background-size: 200px auto;
      opacity: .1;
    }
    .menu li {
      text-align: left;
      display: block;
      border-left: none;
      margin-bottom: 0;
    }
    .menu > li::after {
      content: '';
      position: absolute;
      display: inline-block;
      z-index: 100;
      bottom: 0;
      height: 1px;
      width: 300px;
      left: 18%;
      background: #000;
    }
    .menu > li:first-of-type::before   {
      content: '';
      position: absolute;
      display: inline-block;
      top: 0;
      height: 1px;
      width: 300px;
      left: 18%;
      background: #000;
    }
    .menu > li a, .menu > li span {
      padding: 1.5rem 1.5rem 1.5rem 20%;
    }
    .menu-sub {
      display: block;
      position: relative;
      left: 0;
      padding-top: 0;
      background: rgba(255, 255, 255, 0.9);
      -webkit-transition: all .8s ease-in-out;
      -moz-transition: all .8s ease-in-out;
      transition: all .8s ease-in-out;
    }
    
    .menu-sub li {
      border-top: none;
    }
        
    .menu-sub li a {
      padding: 10px 10px 10px 25%;
      position: relative;
    }
    .menu-sub li a::before {
      position: absolute;
      content: '・';
      left: 21%;
      top: 50%;
      transform: translateY( -50% );
    }
    .menu-sub li a:hover {
      background: rgba(0, 0, 0, 0.9);
      color: #fff;
    }
    
/**  header-works用追加css   ここから */
.works-header .menu > li {
  margin-bottom: 0;
}
.works-header .menu > li:not(:first-child) {
  border-left: none;
  margin-bottom: 0;

}
.works-header .menu > li:last-child {
  border-right: none;
}
.works-header .menu > li a,
.works-header .menu > li span
 {
  padding: 1.5rem 1.5rem 1.5rem 20%;
  font-size: 2rem;
}
.works-header .menu > li:first-child a {
  padding-left: 20%;
}
.works-header .menu > li:last-of-type::before  {
  height: 0;
  width: 0;
}
/**  header-works用追加css ここまで   */


@media screen and (max-width: 480px) {
  .menu > li a, .menu > li span {
    padding: 1.5rem 1.5rem 1.5rem 10%;
  }
  .menu > li::after {
    width: 80%;
    left: 8%;
  }
  .menu > li:first-of-type::before,
  .menu > li:last-of-type::before    {
    width: 80%;
    left: 8%;
  }
  .menu-sub li a {
    padding: 10px 10px 10px 20%;
  }
  .menu-sub li a::before {
    left: 12%;
  }
  .works-header .menu > li a,
  .works-header .menu > li span {
    padding: 1.5rem 1.5rem 1.5rem 10%;
    font-size: 2rem;
  }
  .works-header .menu > li:first-child a {
    padding-left: 10%;
  }
}
}
/*** スマホドロワー ここまで *****/

.footer-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.footer-title {
  width: 24.7%;
}

.footer-txt {
  width: calc(100% - 590px);
  min-width: 300px;
  margin: 0 4%;
  font-size: 1.6rem;
}

.footer-txt p {
  margin-bottom: 0;
}

.footer-txt a {
  display: inline-block;
  color: #FF4040;
  text-decoration: underline;
}

.footer-brand {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.footer-brand li.cityishonomaki {
  width: 43.2%;
  max-width: 102px;
}

.footer-brand li.ishinomaki-farm {
  width: 50.4%;
  max-width: 126px;
  margin-left: 15px;
}

.copyright {
  display: block;
  text-align: center;
  font-size: 12px;
  padding: 2rem 0;
}

@media screen and (max-width: 1000px) {
 .responsive .footer-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .responsive .footer-txt {
    width: 40%;
    min-width: auto;
    margin-left: 4%;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .responsive .footer-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .responsive .footer-title {
    width: 30%;
  }
  .responsive .footer-txt {
    text-align: center;
    width: 100%;
  }
  .responsive .footer-brand {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .responsive .footer-brand li.cityishonomaki {
    max-width: 80px;
  }
  .responsive .footer-brand li.ishinomaki-farm {
    max-width: 80px;
  }
}

.pagetop {
  position: fixed;
  right: 15px;
  bottom: 50px;
  cursor: pointer;
}

.pagetop img {
  width: 70px;
  height: 70px;
}